
@{
    ViewData["Title"] = "About";
}
<div class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>
                        Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        <a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item2">
                <div class="carousel-caption">
                    <h3>
                        Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        <a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item3">
                <div class="carousel-caption">
                    <h3>
                        Create the lifestyle
                        <span>you desire</span>
                    </h3>
                    <div class="read">
                        <a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item item4">
                <div class="carousel-caption">
                    <h3>
                        Engaging Purposeful
                        <span>and Creative</span>
                    </h3>
                    <div class="read">
                        <a href="single.html" class="btn btn-primary read-m">Devamını Oku</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div><br /><br />
<div class="container">
    <h3 class="tittle">HAKKIMIZDA</h3>
    <div class="blog-grid-top">
        <h3>
            Biz Kimiz ?
        </h3>
        <p>
            Microsoft'un kurucusu Bill Gates'e göre, İnternet, Bilişim
            Çağı'nın ve 21. yüzyılın ekonomik ve kültürel oluşumunda
            anahtar rolü oynayacak en önemli teknolojik gelişmedir.
            Bunun nedeni, Internet'in veri ve enformasyon alış-verişi için
            özgün, bağımsız, açık, ölçeklenebilir ve güvenilir bir ortam
            teşkil etmesidir. Gates'e göre İnternet Çağı'nın en önemli
            teknolojik uygulaması World Wide Web olmuştur. Web
            sayesinde İnternet'te veri ve enformasyon aramak, bulmak ve
            paylaşmak kolaylaşmış, hemen herkesin elinden gelebilen
            sıradan bir sürece dönüşmüştür.<br /><br />
            Teknolojik gelişmelerle birlikte, bilişim ve iletişim altyapısının
            geniş coğrafi alanlara yayılması ve mobil iletişim teknolojileri
            aracılığı ile veri ve enformasyon erişiminin zaman ve
            mekandan bağımsız hale gelmesi, bireylerin, kurumların ve
            toplumların birbirleri ile ilişkilerinin bir bölümünü iletişim ve
            bilgisayar ağları üzerinden yürütebilmelerine olanak
            sağlamıştır.<br /><br />
            Yaşanan gelişmeler üzerine insanların ihtiyaçlarının değişmesi,
            kullanıcılara sunulan hizmetlerde de değişiklikleri zorunlu
            kılmıştır. Old fashioned ajandalar yerini mobil cihazlardaki
            farklı uygulamalara bırakmışken, hemen her gün saatlerimizi
            geçirdiğimiz web üzerinde geniş çaplı ve farklı yaklaşımlar
            sunabilecek hizmetlerin bulunmaması bizleri bu alanda bir
            şeyler yapmak için harekete geçirmiştir. Siz değerli
            kullanıcıların ilgisini, dikkatini çekebilecek aynı zamanda da
            işlevsel bir sitenin eksikliğini gidermek için 2022 yılında
            hizmete giren ToDoList olarak misyonumuz insanların
            ihtiyaçlarına en uygun ürün ve hizmetleri sunarak yaşam
            kalitesini yükseltmek, yenilikçi teknolojiler ve tasarımlar ile
            geleceği şekillendirmektir. Vizyonumuz ise fikirlerin;
            düşünceleri, davranış ve tutumları, yaşamları ve nihayetinde
            dünyayı değiştirme gücünün bir tıkla elinizin altında olmasını
            sağlamak. Her insanın bu güce sahip olduğuna büyük bir
            tutkuyla inanıyoruz…
        </p>
    </div>
</div>

