
@{
    ViewData["Title"] = "Index";
}
<div class="banner-inner">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Home" asp-action="Index">Anasayfa</a>
    </li>
    <li class="breadcrumb-item active"><a style="color:forestgreen" asp-area="" asp-controller="Login" asp-action="Index"><b>Giriş</b> </a></li>

</ol>
<section class="main-content-w3layouts-agileits">
    <div class="row">
        <div class="col-3">

        </div>
        <div class="col-6">
            <h3 class="tittle">GİRİŞ FORMU</h3><br />
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1 mb-2">Email</label>
                            <input type="email" class="form-control" name="Email" required="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1 mb-2">Şifre</label>
                            <input type="password" class="form-control" name="Password">
                        </div>
                        <div class="form-check mb-2">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Giriş</button>
                        <p><a asp-area="" asp-controller="Register" asp-action="Index">Heniz hesabınız yok mu?</a></p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3">

        </div>
    </div>


</section>